/*  *{ font-family: 'Diphylleia', serif;}  *표는 전체 적용 */ 
.title{
    color:blue;
    font-size : 150%;
}

#titleId{
    color:purple;
}

p > span {          
    font-size: 170%;
}

p > .tltle2{
    color:aqua;
}

.layout{
    background-color: yellow;
    width :300px;
    height:300px;
    border: 2px solid rgb(24, 210, 86);
    border-radius: 100px;   /* 테두리 기울이기 */
    text-align: center; /*글자 가운데로*/
}
.layout1{
    color:blueviolet;
    font-size: 200%;
    font-weight: 900;
    margin-top: 100px;
    padding-top: 50px;
    font-family: 'Diphylleia', serif;

}